# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env/
.env
.venv/
venv/
ENV/
env/

# Users info
chat_histories/
# Jupyter
.ipynb_checkpoints/

# Docker
.docker/

# VS Code config
.vscode/

